SunTech/Code/RFID_Write/Web References/Webservice/MES_RFID_Interface_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetModuleInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="moduleSN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetModuleInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetModuleInfoResult" type="tns:module_info" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="module_info">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Serial_No" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Module_Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Uoc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Isc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Umpp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Impp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pmpp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pallet_No" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RateDIM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Test_Date" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Module_Manuf" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cell_Manuf" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country_of_Origin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Certificate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Certificate_time" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="flag" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ResetWritedFlag">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="moduleSN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="flag" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetWritedFlagResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResetWritedFlagResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="module_info" nillable="true" type="tns:module_info" />
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetModuleInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetModuleInfo" />
  </wsdl:message>
  <wsdl:message name="GetModuleInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetModuleInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ResetWritedFlagSoapIn">
    <wsdl:part name="parameters" element="tns:ResetWritedFlag" />
  </wsdl:message>
  <wsdl:message name="ResetWritedFlagSoapOut">
    <wsdl:part name="parameters" element="tns:ResetWritedFlagResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetModuleInfoHttpGetIn">
    <wsdl:part name="moduleSN" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetModuleInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:module_info" />
  </wsdl:message>
  <wsdl:message name="ResetWritedFlagHttpGetIn">
    <wsdl:part name="moduleSN" type="s:string" />
    <wsdl:part name="flag" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ResetWritedFlagHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetModuleInfoHttpPostIn">
    <wsdl:part name="moduleSN" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetModuleInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:module_info" />
  </wsdl:message>
  <wsdl:message name="ResetWritedFlagHttpPostIn">
    <wsdl:part name="moduleSN" type="s:string" />
    <wsdl:part name="flag" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ResetWritedFlagHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetModuleInfo">
      <wsdl:input message="tns:GetModuleInfoSoapIn" />
      <wsdl:output message="tns:GetModuleInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetWritedFlag">
      <wsdl:input message="tns:ResetWritedFlagSoapIn" />
      <wsdl:output message="tns:ResetWritedFlagSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service1HttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetModuleInfo">
      <wsdl:input message="tns:GetModuleInfoHttpGetIn" />
      <wsdl:output message="tns:GetModuleInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetWritedFlag">
      <wsdl:input message="tns:ResetWritedFlagHttpGetIn" />
      <wsdl:output message="tns:ResetWritedFlagHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service1HttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetModuleInfo">
      <wsdl:input message="tns:GetModuleInfoHttpPostIn" />
      <wsdl:output message="tns:GetModuleInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetWritedFlag">
      <wsdl:input message="tns:ResetWritedFlagHttpPostIn" />
      <wsdl:output message="tns:ResetWritedFlagHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModuleInfo">
      <soap:operation soapAction="http://tempuri.org/GetModuleInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetWritedFlag">
      <soap:operation soapAction="http://tempuri.org/ResetWritedFlag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModuleInfo">
      <soap12:operation soapAction="http://tempuri.org/GetModuleInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetWritedFlag">
      <soap12:operation soapAction="http://tempuri.org/ResetWritedFlag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1HttpGet" type="tns:Service1HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModuleInfo">
      <http:operation location="/GetModuleInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetWritedFlag">
      <http:operation location="/ResetWritedFlag" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1HttpPost" type="tns:Service1HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModuleInfo">
      <http:operation location="/GetModuleInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetWritedFlag">
      <http:operation location="/ResetWritedFlag" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://172.18.50.164/Rfid/MES_RFID_Interface_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://172.18.50.164/Rfid/MES_RFID_Interface_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1HttpGet" binding="tns:Service1HttpGet">
      <http:address location="http://172.18.50.164/Rfid/MES_RFID_Interface_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1HttpPost" binding="tns:Service1HttpPost">
      <http:address location="http://172.18.50.164/Rfid/MES_RFID_Interface_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>