WareHouse_QD/PDAClient/Web References/PDAWebService/PDAService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PDALogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PDALoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PDALoginResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Inventory_Check">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="product" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pallet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Inventory_CheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Inventory_CheckResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StockIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="orderNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="product" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pallet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StockInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StockInResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertBarcode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dtBarcode">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="containerCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertBarcodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertBarcodeResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeliverCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="containerCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="barCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeliverCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeliverCheckResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="PDALoginSoapIn">
    <wsdl:part name="parameters" element="tns:PDALogin" />
  </wsdl:message>
  <wsdl:message name="PDALoginSoapOut">
    <wsdl:part name="parameters" element="tns:PDALoginResponse" />
  </wsdl:message>
  <wsdl:message name="Inventory_CheckSoapIn">
    <wsdl:part name="parameters" element="tns:Inventory_Check" />
  </wsdl:message>
  <wsdl:message name="Inventory_CheckSoapOut">
    <wsdl:part name="parameters" element="tns:Inventory_CheckResponse" />
  </wsdl:message>
  <wsdl:message name="StockInSoapIn">
    <wsdl:part name="parameters" element="tns:StockIn" />
  </wsdl:message>
  <wsdl:message name="StockInSoapOut">
    <wsdl:part name="parameters" element="tns:StockInResponse" />
  </wsdl:message>
  <wsdl:message name="InsertBarcodeSoapIn">
    <wsdl:part name="parameters" element="tns:InsertBarcode" />
  </wsdl:message>
  <wsdl:message name="InsertBarcodeSoapOut">
    <wsdl:part name="parameters" element="tns:InsertBarcodeResponse" />
  </wsdl:message>
  <wsdl:message name="DeliverCheckSoapIn">
    <wsdl:part name="parameters" element="tns:DeliverCheck" />
  </wsdl:message>
  <wsdl:message name="DeliverCheckSoapOut">
    <wsdl:part name="parameters" element="tns:DeliverCheckResponse" />
  </wsdl:message>
  <wsdl:portType name="PDAServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PDALogin">
      <wsdl:input message="tns:PDALoginSoapIn" />
      <wsdl:output message="tns:PDALoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Inventory_Check">
      <wsdl:input message="tns:Inventory_CheckSoapIn" />
      <wsdl:output message="tns:Inventory_CheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StockIn">
      <wsdl:input message="tns:StockInSoapIn" />
      <wsdl:output message="tns:StockInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertBarcode">
      <wsdl:input message="tns:InsertBarcodeSoapIn" />
      <wsdl:output message="tns:InsertBarcodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeliverCheck">
      <wsdl:input message="tns:DeliverCheckSoapIn" />
      <wsdl:output message="tns:DeliverCheckSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PDAServiceSoap" type="tns:PDAServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PDALogin">
      <soap:operation soapAction="http://tempuri.org/PDALogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inventory_Check">
      <soap:operation soapAction="http://tempuri.org/Inventory_Check" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StockIn">
      <soap:operation soapAction="http://tempuri.org/StockIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBarcode">
      <soap:operation soapAction="http://tempuri.org/InsertBarcode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeliverCheck">
      <soap:operation soapAction="http://tempuri.org/DeliverCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PDAServiceSoap12" type="tns:PDAServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PDALogin">
      <soap12:operation soapAction="http://tempuri.org/PDALogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inventory_Check">
      <soap12:operation soapAction="http://tempuri.org/Inventory_Check" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StockIn">
      <soap12:operation soapAction="http://tempuri.org/StockIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBarcode">
      <soap12:operation soapAction="http://tempuri.org/InsertBarcode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeliverCheck">
      <soap12:operation soapAction="http://tempuri.org/DeliverCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PDAService">
    <wsdl:port name="PDAServiceSoap" binding="tns:PDAServiceSoap">
      <soap:address location="http://localhost:58220/webservice/PDAService.asmx" />
    </wsdl:port>
    <wsdl:port name="PDAServiceSoap12" binding="tns:PDAServiceSoap12">
      <soap12:address location="http://localhost:58220/webservice/PDAService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>